# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
crash.log
override.tf
override.tf.json
*-override.tf
*-override.tf.json